
<h1>Moedas</h1>

<div class="notifications">
  </div>


<table id="dttb" class='table table-striped'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Fórmula</th>
      <th>Descrição</th>
      <th>Última cotação</th>
      <th>Data cotação</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody id="currencies">
     
  </tbody>

</table>
    <%= link_to 'Nova moeda', new_currency_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#openModal', class: "btn btn-success pull-right"} %>
 

 <br>

  <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openModal">Moeda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body ">
      </div>
    
    </div>
  </div>
</div>
 